/* 星空主题 */
.starry-theme body,
.starry-theme .page-number,
.starry-theme .mdl-menu__item,
.starry-theme .post-toc-text,
.starry-theme .post-toc-number,
.starry-theme .mdl-mini-footer{
    color: rgba(255,255,255,.9) !important;
}
.starry-theme .mdl-mini-footer--right-section a{
    color: #6FC1EA !important;
}
.starry-theme .material-layout .material-index>.material-nav,
.starry-theme .material-layout .material-post>.material-nav{
    margin: 0 !important;
}
.starry-theme a{
    text-decoration: none !important;
}
.starry-theme .sidebar-colored,
.starry-theme .sidebar-colored .sidebar-nav>.dropdown>.dropdown-menu,
.starry-theme .mdl-cell,
.starry-theme .mdl-color--white,
.starry-theme .mdl-menu__outline,
.starry-theme .md-timeline-content
{
    background: rgba(0,0,0,.5) !important;
    color: rgba(255,255,255,.9) !important;
}
.starry-theme .md-timeline-date.blue
{
    background: rgba(0,0,0,.9) !important;
}
.starry-theme .md-timeline-content::before
{
    display: none;
}
.starry-theme .material-layout .something-else .mdl-card__supporting-text,
.starry-theme .something-else-logo,
.starry-theme #livere-comment,
.starry-theme .mdl-mini-footer{
    background: transparent !important;
}
.starry-theme .sidebar-nav li>a i,
.starry-theme .sidebar-nav li>a,
.starry-theme .mdl-color-text--grey-600,
.starry-theme .mdl-color-text--grey-700,
.starry-theme .material-layout .material-post>.material-nav,
.starry-theme .material-layout .material-index>.material-nav,
.starry-theme .material-nav a{
    color: rgba(255,255,255,.9) !important;
}
.starry-theme .sidebar .sidebar-nav li:hover>a,
.starry-theme .sidebar-colored .sidebar-nav>.open>a,
.starry-theme .sidebar-colored .sidebar-nav>.open>a:focus,
.starry-theme .sidebar-colored .sidebar-nav>.open>a:hover,
.starry-theme .mdl-menu__item:hover{
    background: rgba(255,255,255,.1) !important;
}
.starry-theme .sidebar-badge,
.starry-theme .md-timeline-content,
.starry-theme .md-timeline-date.blue,
.starry-theme .sidebar_archives-count{
    border-radius: 5px;
}
.starry-theme .material-layout .mdl-card__media {
    border-bottom: none!important;
}
.starry-theme code,
.starry-theme blockquote
 {
    color: #fff !important;
    background: rgba(255,255,255,.4) !important;
    border-radius: 2px !important;
}
.starry-theme .social-btn
{
    background-color: #fff !important;
}
.starry-theme .linenums li.L0,
.starry-theme .linenums li.L1,
.starry-theme .linenums li.L2,
.starry-theme .linenums li.L3,
.starry-theme .linenums li.L4,
.starry-theme .linenums li.L5,
.starry-theme .linenums li.L6,
.starry-theme .linenums li.L7,
.starry-theme .linenums li.L8,
.starry-theme .linenums li.L9 {
    background: rgba(255,255,255,.4) !important;
}
.starry-theme blockquote{
    padding: 5px 15px !important;
}

.starry-theme pre,
.starry-theme linenums li {
    background: rgba(255,255,255,.4) !important;
}
.starry-theme #post-content .prettyprint{
    border-radius: 5px !important;
}

/* reset */
body{
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    -webkit-font-smoothing: antialiased;
}
pre,
code {
    font-size: 12px !important;
    background: #ebf8ff!important;
}

.text-popup {
    position: absolute!important;
    z-index: 99;
    color: red;
    user-select: none;
    white-space: nowrap;
    transform: scale(1.5);
    animation: textPopup ease 1s;
}

@keyframes textPopup {
    0%,
    100% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(2) translateY(-50px);
    }
}

dot {
    display: inline-block;
    height: 1em;
    line-height: 1;
    text-align: left;
    vertical-align: -.25em;
    overflow: hidden;
}

dot::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap;
    /* 也可以是white-space: pre */
    animation: dot 3s infinite step-start both;
}

@keyframes dot {
    33% {
        transform: translateY(-2em);
    }
    66% {
        transform: translateY(-1em);
    }
}

.weui-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.55555556;
    border-radius: 5px;
    overflow: hidden;
}

.weui-btn_primary {
    background-color: #1aad19;
}

.weui-btn_default {
    color: #000000;
    background-color: #F8F8F8;
}

.weui-btn_warn {
    background-color: #E64340;
}
/* 基本按钮 */

.ning-btn {
    font-size: 14px;
    display: inline-block;
    padding: .179rem 1em;
    text-align: center;
    border-radius: 2px;
    border: 1px solid;
    background-color: currentColor;
}

.ning-btn::first-line {
    color: #fff;
}
/* 变色按钮特殊处理 */

.ning-btn._white {
    box-shadow: inset 1px 0 #e3e4e6, inset 0 1px #e3e4e6, inset 0 -1px #e3e4e6, inset -1px 0 #e3e4e6;
}

.ning-btn._white::first-line {
    color: #33373d;
}
/* 交互与变色-加深效果 */

.ning-btn:active,
.ning-btn:hover {
    background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
}
/* 小标签 */

.tag-solid {
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    padding: 0 .25em;
    border-radius: 2px;
    background-color: currentColor;
}

.tag-solid::first-line {
    color: #fff;
}
/* 带质感的标签 */

.tag-honor {
    font-size: 12px;
    line-height: 16px;
    padding: 0 .5em;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: currentColor;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 50%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 50%);
}

.tag-honor::first-line {
    color: #fff;
}
/* 线框标签 */

.tag-line {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    padding: 0 1em;
    border: 1px solid;
    border-radius: 2em;
    background-color: #fff;
}

.example-box{
    position: relative;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
}
.flex-box {
    display: flex;
    justify-content: space-between;
}

.flex-col-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-center-box {
    display: flex;
    align-items: center;
}

@mixin flex-center-box {
    display: flex;
    align-items: center;
}

.clear-fix {
    zoom: 1;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
/** font **/

.f-base {
    color: #444;
}

.f-light {
    color: #999;
}

.fc-blue {
    color: #0081fe;
}

.f-warning {
    color: red;
}

.f-bold {
    font-weight: bold;
}

.f-normal {
    font-weight: normal;
}

.fs-xs {
    font-size: 12px;
}

.fs-md {
    font-size: 16px;
}

.fs-lg {
    font-size: 18px;
}
.text-center{
    text-align: center;
}
.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r-md {
    margin-right: 20px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-md {
    margin-top: 20px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b-md {
    margin-bottom: 20px;
}
/* 基础颜色，放在最后 */
._dark {
    color: #33373d;
}

._gray {
    color: #969ba3;
}

._blue {
    color: #4284ed;
}

._green {
    color: #7ed321;
}

._orange {
    color: #f0643a;
}

._yellow {
    color: #f0c53a;
}

._purple {
    color: #a091ff;
}

._red {
    color: #ed424b;
}

._white {
    color: #fff;
}

._xs {
    font-size: 12px;
}

._sm {
    font-size: 14px;
}

._md {
    font-size: 16px;
}

._lg {
    font-size: 18px;
}
#canvas{
    position: fixed;
}
.player{
    border: 1px solid #f5f5f5 !important;
    box-shadow: none !important;
}
.icon-arrow {
    display: inline-block;
    width: 20px;
    height: 1ex;
    background: url(arrow-down.png) no-repeat center/15px; 
}
.border-triangle{
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #0081fe transparent transparent transparent;
}
.clip-triangle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: currentColor;
    clip-path: polygon(5px 10px, 16px 3px, 16px 17px);
}
.waifu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    font-size: 0;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
.waifu:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
@media (max-width: 768px) {
    .waifu {
        display: none;
    }
}
/* live2d */
.waifu-tips {
    opacity: 0;
    width: 250px;
    height: 70px;
    margin: -20px 20px;
    padding: 5px 10px;
    border: 1px solid rgba(224, 186, 140, 0.62);
    border-radius: 12px;
    background-color: rgba(236, 217, 188, 0.5);
    box-shadow: 0 3px 15px 2px rgba(191, 158, 118, 0.2);
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    animation-delay: 5s;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-timing-function: ease-in-out;
}
.waifu #live2d{
    position: relative;
}

@keyframes shake {
    2% {
        transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    }

    4% {
        transform: translate(0.5px, 1.5px) rotate(1.5deg);
    }

    6% {
        transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }

    8% {
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    10% {
        transform: translate(0.5px, 2.5px) rotate(0.5deg);
    }

    12% {
        transform: translate(1.5px, 1.5px) rotate(0.5deg);
    }

    14% {
        transform: translate(0.5px, 0.5px) rotate(0.5deg);
    }

    16% {
        transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }

    18% {
        transform: translate(0.5px, 0.5px) rotate(1.5deg);
    }

    20% {
        transform: translate(2.5px, 2.5px) rotate(1.5deg);
    }

    22% {
        transform: translate(0.5px, -1.5px) rotate(1.5deg);
    }

    24% {
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    }

    26% {
        transform: translate(1.5px, 0.5px) rotate(1.5deg);
    }

    28% {
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    }

    30% {
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    32% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    34% {
        transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    }

    36% {
        transform: translate(0.5px, -1.5px) rotate(0.5deg);
    }

    38% {
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    40% {
        transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    }

    42% {
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    44% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    46% {
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    48% {
        transform: translate(2.5px, -0.5px) rotate(0.5deg);
    }

    50% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    52% {
        transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    }

    54% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    56% {
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    58% {
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    60% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    62% {
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    64% {
        transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    }

    66% {
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    68% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    70% {
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    72% {
        transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    }

    74% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    76% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    78% {
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    80% {
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    82% {
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    84% {
        transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    }

    86% {
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    88% {
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    90% {
        transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    }

    92% {
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }

    94% {
        transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }

    96% {
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    98% {
        transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    }

    0%, 100% {
        transform: translate(0, 0) rotate(0);
    }
}
/* 修改主题原生样式 -start */
/* #scheme-Paradox{
    background: rgba(0,0,0,.75);
} */
#scheme-Paradox .material-layout .mdl-card__media{
    height: 100%;
    border-bottom: 1px solid #f5f5f5;
}
#scheme-Paradox .material-layout .mdl-card__media a{
    font-size: 18px;
}
#scheme-Paradox #post_entry-left-info{
    width: 100% !important;
}
#scheme-Paradox #post_entry-right-info{
    width: 100% !important;
    margin:0 !important;
    padding-top: 0 !important;
}
.post_tag-link{
    padding: 15px 5px !important;
}
/* 修改主题原生样式 -end */
